
ENV=dev
PORT=3000
FRONTEND_URL=http://localhost:3000


DATABASE_URL="postgresql://user:password@localhost:5432/lodgify?schema=public"


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=supersecret_jwt_key
JWT_REFRESH_SECRET=supersecret_jwt_refresh_key


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4200/auth/google/callback


ALLOWED_ORIGINS=http://localhost:4200
